.slider{
    &__item{
        background-size: cover;
        background-position: center;
        position: relative;
        &-wrapper{
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translateY(-50%);
            max-width: 45%;
        }
        &-subheader{
            background-color: $turquoise;
            color: $dark-gray;      
            display: inline-block;
            font-size: 1.2rem;  
            line-height: 2.36;
            letter-spacing: 3px;
            margin: 0;
            text-transform: uppercase;
            padding:0 10px;
        }
        &-header{
            font-size: 6rem;  
            line-height: 1.3;
            margin-top: 20px;
            margin-bottom: 42px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                bottom: -10px;
                left: 0;
                background-color: $turquoise;
                height: 5px;
                width: 38px;
            }      
        }
        &-content{
            font-size: 2rem;
            line-height: 1.6;
            margin: 31px 0;
            max-width: 445px;
        }
        &-link{
            background-color: transparent;
            border: 2px solid $primary;
            color: $primary;
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 3px;
            padding: 12px 47px;
            margin-top:5px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                background-color: $turquoise;
                border: 2px solid $turquoise;
                color: $primary;
            }
            &:focus,
            &:visited{
                color: $primary;
                outline: none;
            }
        }
    }
    & .slick-dots{
        background-color: $primary;
        border-radius: 24px;
        list-style: none;
        margin: 0 auto;
        padding: 5px 10px 8px 10px;
        width: 31px;
        & li{
            list-style: none;
            margin: 5px 0;
            & button{
                border-radius: 50%;
                font-size: 0;
                width: 12px;
                height: 12px;
                border: none;
                background-color: $gray;
                box-shadow: inset 0 4px 3px rgba(0,0,0,0.22);
                outline: 0;
            }
        }
        & .slick-active{
            & button{
                background-color: $turquoise;
            }
        }
    }
    & .slick-nav{
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        text-align: center;
        width:55px;
        & .slick-counter{
            font-size: 2.4rem;
            font-weight: 600;
            height: 32px;
        }
        & .slick-status{
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 3px;
            height: 28px;
            text-transform: uppercase;
        }
    }
}